* {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', 'Helvetica Neue', Arial, sans-serif;
}

:root {

  /* colors */

  --purple-100: #DBD1FC;
  --purple-500: #7551DC;
  --yellow-100: #F9EEE2;
  --yellow-500: #FFCC6A;
  --white: #FFFFFF;
  --black: #121212;

  /* typography */

  --fs-1: 3.8rem;
  --fs-2: 2.5rem;
  --fs-3: 2rem;
  --fs-4: 1.1rem;

  --fw-r: 400;
  --fw-m: 500;

  --lh-1: 93.5%;
  --lh-2: 90%;
  --lh-3: 87.5%;
  --lh-4: 111%;

  --ls-1: -0.19rem;
  --ls-2: -0.12rem;
  --ls-3: -0.12rem;

  /* SPACING */

  --space-0:0;
  --space-100:.5rem;      /* 8px */
  --space-200:1rem;       /*16px*/
  --space-300:1.5rem;     /*24px*/
  --space-400:2rem;       /*32px*/
  --space-500:2.5rem;     /*40px*/
}

p {
  font-weight: var(--fw-r);
  font-size: var(--fs-4);
  line-height: var(--lh-4);
}




/* SECTION 1 */

.card-1 {
  background: var(--purple-500);

  text-align: center;

  padding: var(--space-500) var(--space-400);
}

h1 {
  color: var(--white);
  font-weight: var(--fw-m);
  font-size: var(--fs-1);
  letter-spacing: var(--ls-1);
  line-height: var(--lh-1);
}

.span-h1 {
  color: var(--yellow-500);
}

.p-1 {
  color: var(--white);
}